//
//  Config.xcconfig
//  Nearly
//
//  Created by 박윤수 on 3/17/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
KAKAO_APP_KEY = 6f59081af917489941c4688addcd1106
NAVER_CLIENT_ID = xGFaWx8kAr66c0OJjHIx
NAVER_CLIENT_SECRET = Rwpjkzi5ln
